$base_font_size: 16px;
$section_font: 'Noto Serif JP', serif;
$sentence_font: 'Sawarabi Gothic', sans-serif;
$font_color: #0099ff;
.nav {
    padding: 16px;
    font-family: $section_font;
    background-color: #99ccff;
}
a.nav-link {
    font-size: 18px;
    color: #ffff99;
}
body {
    background: radial-gradient(ellipse,#ccff99,#ccffdd);
}
#what {
    margin-top: -80px;
    padding-top: 80px;
}
#report {
    margin-top: -80px;
    padding-top: 80px;
}
#contact {
    margin-top: -80px;
    padding-top: 80px;
}
h2,h3,h4 {
    font-family: $section_font;
    color: $font_color;
}
p {
    font-family: $sentence_font;
    font-size: 1em;
}
.caution_title {
    color: red;
}
.caution_box {
    border: solid 1px red;
    padding: 0.5em 1.2em;
    display: inline-block;
    margin: 16px;
    p {
        font-size: 1em;
        color: red;
    }    
}
#top-image {
    width: 100%;
    padding-bottom: 16px;
}
.top-image {
    position: relative;
    p {
        position: absolute;
        font-weight: bold;
        font-size: 3.2em;
        font-family: $section_font;
        color: #ff99cc;
        top: 70%;
        left: 16px;
    }
}
.next-schedule {
    color: $font_color;
}
.question {
}