@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap");

$base_font_size: 16px;
$section_font: "M PLUS Rounded 1c", sans-serif;
$sentence_font: "M PLUS Rounded 1c", sans-serif;
$font_color: #000626;
$entry_title_color: #09f;
$title_color: #fef9ed;

.nav {
  padding: 16px;
  font-family: $section_font;
  background-color: #000626;
}

.menu-item {
  a {
    font-size: 18px;
    color: #ff9;
    padding: 8px 16px;
  }
}

body {
  background-color: #fef9ed;
}

#what {
  margin-top: -80px;
  padding-top: 80px;
}

#report {
  margin-top: -80px;
  padding-top: 80px;
}

#contact {
  margin-top: -80px;
  padding-top: 80px;
}

h2,
h3,
h4 {
  font-family: $section_font;
  color: $font_color;
}

p {
  font-family: $sentence_font;
  font-size: 1em;
}

.caution_title {
  color: red;
}

footer {
  margin-top: 35px;
  margin-bottom: 0;
  padding-top: 35px;
  padding-bottom: 15px;
  background-color: #ddd;

  p {
    font-size: 12px;
    margin: 0;
  }
}

.caution_box {
  border: solid 1px red;
  padding: 0.5em 1.2em;
  display: inline-block;
  margin: 16px;

  p {
    font-size: 1em;
    color: red;
  }
}

.top-image {
  position: relative;

  #top-image {
    width: 100%;
    padding-bottom: 16px;
  }

  p {
    position: absolute;
    font-weight: bold;
    font-size: 3.2em;
    font-family: $section_font;
    color: $title_color;
    top: 70%;
    left: 16px;
  }
}

.next-schedule {
  color: $font_color;
}

.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 75%;
  position: relative;
}

.gmap iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.entry-title a {
  font-size: 16px;
  color: $entry_title_color;
}
